<div class="jumbotron">
  <div class="container">
    <h1>今日は大安売りの日です！</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <% products.each do |product| %>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a href="/products/<%= product[:id] %>"><%= product[:name] %></a>
          </div>
          <div class="panel-body">
            <a href="/products/<%= product[:id] %>">
<script id="img">
document.write('<img src="<%= product[:image_path] %>" class="img-responsive" />');
script = document.getElementById('img');
script.parentNode.removeChild(script);
</script></a>
            <h4>価格</h4>
            <p><%= product[:price] %>円</p>
            <h4>商品説明</h4>
            <p><%= product[:description][0..69] %>…</p>
	    <% comments = dalli.get("product_#{product[:id]}_comments") %>
            <h4><%= comments.size %>件のレビュー</h4>
            <ul>
              <% comments.each_with_index do |comment, index| %>
                <% break if index > 4 %>
		<li><%= comment[:content].size > 25 ? "#{comment[:content][0..24]}…" : comment[:content] %> by <%= comment[:user_name] %></li>
              <% end %>
            </ul>
          </div>
          <% if current_user %>
            <div class="panel-footer">
              <form method="POST" action="/products/buy/<%= product[:id] %>">
                <fieldset>
                  <input class="btn btn-success btn-block" type="submit" name="buy" value="購入" />
                </fieldset>
              </form>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
